.nav-item{
letter_spacing:.2rem;
font-size:30px;
text-transform:uppercase;
}
.dropdown{
font-size:30px;
text-transform:uppercase;

}
.dropdown-item{
letter_spacing:.2rem;
font-size:20px;
text-transform:uppercase;

}

body{
font-family: 'Alfa Slab One', cursive;
margin:10px
}

.my_footer{
background-color:#2E8B57;
height:100px
}

.my_footer p{
padding-top:20px;
font-size:14px
}

/*** category  ***/

.my_row{
padding-top:100px;
}

.my_row .mx-auto{
color:black;
font-size:25px;


}

.my_image{
width:100%;
height:auto;

}
.my_title{
font-size:50px;
text-transform:uppercase;
letter_spacing:.2rem;
color:Green;

}

.my_image_padding{
padding:250px
align:center;
}
.parag{
letter_spacing:.6em;
font-size:30px;

}
.my_bottom_margin{
margin_bottom:30px;
}


.card-body h2{
font-size:14px;
text-transform:uppercase;
letter_spacing:2.em;

}
.my_card{

}

.my_img{
width:500px;
}

.my_search{
padding_top:12px;
color:blue;
font-size:25px;
}

/*** car t***/

.my_custom_table{

font-size:20px;
min-width:350px;
}

.my_thead{
font-weight:normal;
text-transform:uppercase;
letter-letter_spacing:.2em;
background-color:pink;
}

.custom_a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:red;
}

.my_custom_button{
margin-top:5px;
}

